.home-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
}

.baner {
  width: 60%;
  height: 20vh;
}
